.code {line-height: 1.3em;}
.code span{white-space: nowrap; padding: 2px 1px; }
.code {font-family: monospace; font-size: 1.1em;}
.code .property {font-weight:bold; color: black;}
.code .null {color: red;}
.code .boolean {color: purple;}
.code .numeric {color: blue;}
.code .string {color: green;}
.code .deffered {color: grey; font-size: 0.9em;}
.code .toggle {position: absolute; left: -1em; cursor: pointer;}
.code .tag {color: darkblue;}
.code .atn {color: purple;}
.code .atv {color: green;}
.code .text {color: black;}
.code .cdata {color: teal;}
.code .comment, .code .ns {color: grey;}
.code li {position: relative;}
.code.json li:after {content: ',';}
.code.json li:last-child:after {content: '';}
.code ul {list-style: none; margin: 0 0 0 1.5em; padding: 0;}